@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.cards__event {
  display: grid;
  gap: 3rem;
  align-items: center;
  grid-template-columns: auto auto auto;
  margin-top: 3rem;
}
.Events {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem 5rem 0rem;
  flex-direction: column;
  background: black;
}
.Events h1 {
  color: #cd9f58;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
}

/*----------------- For tablets--------------------  */
@media screen and (max-width: 950px) {
  .cards__event {
    grid-template-columns: auto auto;
  }
  .Events h1 {
    font-size: 3.5vw;
  }
}
/*----------------- For Mobile--------------------  */
@media screen and (max-width: 570px) {
  .cards__event {
    grid-template-columns: auto;
  }
  .Events h1 {
    font-size: 5.5vw;
  }
}
