@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.CategoryCard {
  width: 35%;
  margin-left: 25px;
}

.CategoryCard_container {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 1px;
  transition: transform 500ms ease;
  width: 13rem;
  cursor: pointer;
}

.CategoryCard_container:hover{
  transform: scale(1.15);
  color: #CD9F58;
}
.CategoryCard_container img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.CategoryCard_container h5 {
  font-family: 'Montserrat', sans-serif;
  margin: 15px 0px;
  font-weight: 500;
} 