@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.main_story{
  overflow: hidden;
}
.story_left img {
  max-width: 40vw;
  max-height: 35vw;
  border-radius:5px;
}

/* Story right starts */
.story_right h2 {
  color: #cd9f58;
  font-size: 2.8vw;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.story_right p,span {
  color: #ffffff;
  font-size: 1.2vw;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  /* text-align: left !important; */
}
.story_right  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left !important;
}
/* Story right end */


/* ~~~~~~~~~~~~~~~~~~~~     For Mobiles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width:575px)
{
  .story_left img {
    width: 100vw;
    height: auto;
    max-width: 19rem;
    max-height: 18rem;
    border-radius: 3px;
  }
  .story_left{
    /* overflow: hidden; */
    align-items: start;
  }
  .story_right{
    align-items:center;
  }
  .story_right {
    text-align:center;
  }
  .main_story{
    align-items:center;
  }
  .story_right h2{
     font-size: 7vw;
  }
  .story_right p,span{
    font-size: 3.6vw;
  }
  .hidden_p{
    display: none;
  }
}