@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


.ContactForm_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #151515;
    border-radius: 10px;
}

.ContactForm_container input, textarea {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    padding: 15px 10px;
    width: 250px;
    border: 2px solid #1E1D1D;
    color: lightgray;
    margin-bottom: 20px;
    border-radius: 5px;
}

.ContactForm_container button {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    width: 270px;
    padding: 15px;
    background-color: #CD9F58;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}