@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
.Navbar a{
    color: #CD9F58;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.navbar_container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center; 
}
.left-nav > a{
    margin-left: 7.5vw;
}
.right-nav > a{
    margin-right: 7.5vw;
}
.center-logo img{
    height: 8vw;
    margin: 0.1vw 6vw;
    padding: 1vw;
}

.navbar_container a:hover{
  color: white;
}
.navbar_container a{
  transition: all 0.3s ease-in-out;
  font-size: 1.1vw;
}
.left-nav{
    padding: 1vw;
    text-align: center;
}
.right-nav{
    padding: 1vw;
    text-align:center;
}