@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


.Footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 1rem;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80vw;
}

/* LEFT FOOTER DIV START */
.left-foot {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 33%;
}
.left-foot button {
  border: 1px solid black;
  background-color: #cd9f58;
  color: black;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 0.1rem 0.3rem;
  transition: all ease-in 0.4s;
  width: 25%;
}

.left-foot button:hover {
  background-color: #000000;
  color: #CD9F58;
}
.enter-email {
  border: none;
  border-radius: 2px;
  padding: 0.7rem 0.5rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  cursor: horizontal-text;
  width: 50%;
  height: auto;
}
.enter-email:hover {
  border: none;
}
/* LEFT FOOTER DIV END */

/* CENTER DIV START */
.Footer .center-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 33%;
  cursor: pointer;
}
.center-logo img{
  height: 7vw;
}
/* CENTER DIV END  */

/* RIGHT FOOTER START */
.right-foot {
  display: flex;
  align-items: center;
  width: 33%;
  gap: 2rem;
}
.right-foot > a {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  text-decoration: none;
  color: #cd9f58 !important;
  cursor: pointer;
}
.right-foot > a:hover {
  color: white !important;
  transition: all 0.5s ease;
}

/* RIGHT FOOTER DIV END */
.footer__socials {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1.3rem 0rem;
  text-align: center;
}
.footer__socials > a {
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

/* adding hover effects to the socials */
.icon__a {
  text-decoration: none;
  font-size: 200%;
  color: #cd9f58;
}

.icon__a:hover {
  background: transparent;
  color: white;
}

/* footer copyright styling */
.footer__copyright {
  color: white;
  margin-bottom: 2em;
  font-family: "Poppins", sans-serif;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~` For Big Screen ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1024px) {
  .icon__a {
    font-size: 25px;
  }
  .right-foot {
    gap: 1rem;
  }
  .right-foot {
    font-size: 0.7rem;
  }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~` For Tablets ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 870px) {
  .left-foot {
    opacity: 0 !important;
  }
  .container1 {
    flex-direction: column;
  }
  .right-foot {
    width: fit-content;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  .container1 > .center-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 0.7rem;
  }
  .container1 > .center-logo img {
    width: 6rem;
    height: auto;
  }
  .icon__a {
    font-size: 25px;
  }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~` For Mobiles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 575px) {
  .right-foot {
    flex-direction: column;
  }
  .Footer .center-logo {
    margin-bottom: 1rem;
  }
  .Footer  .center-logo img{
    width: 5rem;
    height: auto;
  }
}
